body {
    background-color: #fcffff;
    box-sizing: border-box;
    margin: 0;
}


  .contenedorMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 35px;
  align-items: center;
  }
  
  .imagen > img {
      border-radius: 121px;
      width: 20%;
      border: 1px solid red;
      margin-left: 20px;
      margin-top: 10px;
  }
  
  .listas ul {
      display: flex;
      flex-wrap: wrap;
      gap: 35px;
      margin-right: 30px;
      margin-bottom: 50px;
  }
  
  
  .listas ul li{
      list-style: none;
  }
  
  .listas ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 10px 8px 10px;
    background-color: #ccc;
    border-radius: 34px;
  }
  
  .listas ul li a:hover {
   border: 1.2px solid red;
  }
  
  /* TERMINA MI NAVBAR */
  
  
  .contenedorH1 h1 {
      margin-top: 40px;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 20px;
      margin-bottom: 40px;
  }
  
  .containerP {
      width: 90%;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2rem; 
      line-height: 1.6;
      text-align: justify;
      margin-left: 20px;
  }
  /* MEDIA QWERYS */



.nuestro__estudios {
    margin-top: 60px;
}

.grid-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 48px;
    padding: 10px;
    margin: 0 auto;
}

.grid-item img {
    margin-top: 40px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 25px;
    transition: transform 0.5s;
}

.grid-item img:hover {
    transform: scale(1.1);
}
  


  @media only screen and (max-width: 1400px) {
    
    .contenedorMain {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 35px;
        align-items: center;
    }
    
    .listas ul {
        display: flex;
        /* flex-wrap: wrap; */
        gap: 22px;
        margin-right: auto;
        margin-bottom: 50px;
        margin-right: 25px;
    }

    .grid-container {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 200px);
        gap: 48px;
        padding: 10px;
    }
    
    .grid-item img {
        margin-top: 40px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    footer {
        background-color: #000;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        position: relative;
        bottom: 0;
        width: 100%;
        margin: 30px 0px 0px 0px;
    }
    
    footer p {
        margin: 0;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        padding: 15px;
    }

    iframe {
        width: 100%;
        height: 100vh;
        border: none;
        overflow: hidden;
        margin-top: 50px;
      }

  }



  
          /* CELULAR */
  
  @media only screen and (max-width: 767px) {
  
      .contenedorMain {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
          }
  
      .imagen > img {
      display: none;
  }
  
  .listas ul {
      display:grid;
      grid-template-columns: max-content;
      align-self: center;
      gap: 35px;
      margin-right: 30px;
      margin-bottom: 50px;
  }
  
  
  .listas ul li{
      list-style: none;
  }
  
  .listas ul li a {
      text-decoration: none;
      color: red;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  .listas ul li a:hover {
   font-weight: 700;
  }
              
  }